.header-class {
    position: relative;
    margin-left: 140px;
    margin-right: 140px;
}

.header-img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    filter: brightness(60%);
}

.header-text {
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.header-text-1 {
    color: white;
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 400;
    padding-top:95px;
}

.header-text-2 {
    margin-top: 20px;
    color: white;
    font-size: 72px;
}